/* COLORS VARIABLES */
:root {
    /* fonts color */
    --body-font-color: #393d41;
    --body-headings-font-color: #25a2c3;
    --body-button-font-color: #fff;
    --body-punchline-font-color: #fff;
    --footer-font-color: #c8e7f0;
    --footer-headings-font-color: #fff;
    --footer-link-color: #c8e7f0;

    /* containers color */
    --header-bgcolor: #000;
    --button-bgcolor: #f04c2f;
    --punchline-bgcolor: #e22d0e;
    --footer-bgcolor: #25a2c3;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Open Sans', Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: var(--body-font-color);
    font-size: 1.2rem;
    line-height: 1.65em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: var(--body-headings-font-color);
    font-weight: bold;
    line-height: 1.5em;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6 {
    color: var(--footer-headings-font-color)
}


.container {
    display: block;
    margin: 0 auto;
    width: 80%;
}

/********************************************/

/* HEADER SECTION */
header {
    background-color: var(--header-bgcolor);
    padding: 3em 0;
}

header .header-logo img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/********************************************/

/* WEB DEV COURSE BANNER SECTION  */

.web-dev-course-container {
    background-image: url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0;
}

.web-dev-course-container .container>* {
    margin-top: 1.5em;
}

.web-dev-course-container .contact-us-anchor {
    color: var(--body-button-font-color);
    display: inline-block;
    background-color: var(--button-bgcolor);
    border-radius: 5px;
    padding: 10px 30px;
    font-family: 'Montserrat', Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    color: var(--body-button-font-color);
    font-weight: bold;
    line-height: 1.5em;
    text-decoration: none;
}

/********************************************/

/* COURSE DESCRIPTION SECTION */

.course-description-container,
.punchline{
    padding: 2em 0;
}

.course-description-container dd:not(:last-child),
.course-description-container .course-description-img-container
{
    margin-bottom: 2em;
}

.course-description-container .course-description-img-container img{
    border-radius: 50%;
}

/********************************************/

/* PUNCHLINE BANNER */
.punchline{
    background-color: var(--punchline-bgcolor);
    color: var(--body-punchline-font-color);
}

.punchline h2{
    color: inherit;
}

.punchline h2,
.punchline blockquote>*{
    margin-bottom: 1em;
}